In [2]:
import pandas as pd
import matplotlib as pl
import seaborn as sns

In [3]:
data = pd.read_csv('E0.csv')
data.head()
# data.describe()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88

In [4]:
# Select relevant columns for the data story
columns_to_keep = [
    'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS', 'HST', 'AST', 
    'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR'
]

# Create a new dataframe with only the selected columns
cleaned_data = data[columns_to_keep]

# Display the cleaned data
cleaned_data.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11/08/2023,Burnley,Man City,0,3,A,6,17,1,8,11,8,6,5,0,0,1,0
1,12/08/2023,Arsenal,Nott'm Forest,2,1,H,15,6,7,2,12,12,8,3,2,2,0,0
2,12/08/2023,Bournemouth,West Ham,1,1,D,14,16,5,3,9,14,10,4,1,4,0,0
3,12/08/2023,Brighton,Luton,4,1,H,27,9,12,3,11,12,6,7,2,2,0,0
4,12/08/2023,Everton,Fulham,0,1,A,19,9,9,2,12,6,10,4,0,2,0,0

In [5]:
cleaned_data.describe()

,FTHG,FTAG,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
count,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000
mean,1.800000,1.478947,15.402632,12.181579,5.436842,4.431579,10.744737,11.347368,6.123684,4.713158,1.910526,2.263158,0.068421,0.081579
std,1.365616,1.277811,6.261959,5.467696,2.885449,2.526493,3.457331,3.674826,3.221460,2.906518,1.392553,1.389448,0.263030,0.283546
min,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,11.000000,8.000000,3.000000,3.000000,8.000000,9.000000,4.000000,3.000000,1.000000,1.000000,0.000000,0.000000
50%,2.000000,1.000000,15.000000,11.000000,5.000000,4.000000,11.000000,11.000000,6.000000,4.000000,2.000000,2.000000,0.000000,0.000000
75%,3.000000,2.000000,19.000000,15.000000,7.000000,6.000000,13.000000,14.000000,8.000000,6.000000,3.000000,3.000000,0.000000,0.000000
max,6.000000,8.000000,36.000000,30.000000,15.000000,15.000000,20.000000,22.000000,17.000000,15.000000,6.000000,7.000000,2.000000,2.000000

### world development indicators datasets from the world bank

In [6]:
df_ghana = pd.read_csv("https://raw.githubusercontent.com/0x1AY/IE6600/refs/heads/master/project1/WDI_CSV_2024_09_25/GHA_data.csv")
df_ghana

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Ghana,GHA,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.200000,21.60000,22.900000,24.200000,25.900000,26.900000,28.300000,29.700000,31.000000,NaN
1,Ghana,GHA,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.100000,6.70000,7.400000,8.200000,8.900000,9.900000,10.700000,11.700000,12.700000,NaN
2,Ghana,GHA,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,35.100000,36.40000,37.900000,39.300000,40.700000,42.000000,43.100000,44.500000,45.700000,NaN
3,Ghana,GHA,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,78.300000,74.00000,79.300000,79.000000,80.400000,83.500000,85.400000,86.300000,85.100000,NaN
4,Ghana,GHA,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,64.000000,57.00000,66.600000,65.300000,68.300000,70.000000,73.100000,74.000000,71.600000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1483,Ghana,GHA,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,12.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.100000,NaN
1484,Ghana,GHA,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.300000,NaN
1485,Ghana,GHA,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.100000,NaN
1486,Ghana,GHA,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,64.892324,65.24676,65.765781,66.388711,67.055548,67.648496,68.151444,68.580032,68.900868,NaN
1487,Ghana,GHA,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,5800.000000,5900.00000,5800.000000,6100.000000,6200.000000,6200.000000,5900.000000,5100.000000,4600.000000,NaN

In [7]:
indicator_names = df_ghana['Indicator Name']
print(indicator_names.unique())

['Access to clean fuels and technologies for cooking (% of population)'
 'Access to clean fuels and technologies for cooking, rural (% of rural population)'
 'Access to clean fuels and technologies for cooking, urban (% of urban population)'
 ... 'Women who were first married by age 18 (% of women ages 20-24)'
 "Women's share of population ages 15+ living with HIV (%)"
 'Young people (ages 15-24) newly infected with HIV']

In [14]:
# Define the keywords to filter by
keywords = ['CO2','Droughts','precipitation','Agricultural','Arable','Methane','freshwater','Cereal','Food','Renewable','Forest']

# Create a boolean mask for rows that contain any of the keywords
mask = df_ghana['Indicator Name'].str.contains('|'.join(keywords), case=False, na=False)

# Filter the DataFrame using the mask
filtered_df = df_ghana[mask]


# Display the filtered DataFrame
filtered_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
44,Ghana,GHA,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.978564e+00,7.041402e+00,6.639782e+00,6.214325e+00,3.988044e+00,3.630997e+00,3.758552e+00,3.853234e+00,NaN,NaN
45,Ghana,GHA,Adjusted savings: net forest depletion (curren...,NY.ADJ.DFOR.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.104078e+09,3.374317e+09,3.582931e+09,3.568993e+09,2.563125e+09,2.379294e+09,2.660176e+09,2.914484e+09,NaN,NaN
59,Ghana,GHA,Agricultural irrigated land (% of total agricu...,AG.LND.IRIG.AG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.909172e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Ghana,GHA,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,51.419531,51.419531,51.419531,51.419531,51.419531,...,5.438452e+01,5.456410e+01,5.431108e+01,5.310699e+01,5.369404e+01,5.484739e+01,5.539302e+01,5.539302e+01,NaN,NaN
61,Ghana,GHA,Agricultural land (sq. km),AG.LND.AGRI.K2,NaN,117000.000000,117000.000000,117000.000000,117000.000000,117000.000000,...,1.237465e+05,1.241551e+05,1.235794e+05,1.208396e+05,1.221754e+05,1.247997e+05,1.260374e+05,1.260374e+05,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1211,Ghana,GHA,"Renewable internal freshwater resources, total...",ER.H2O.INTR.K3,NaN,30.300000,30.300000,30.300000,30.300000,30.300000,...,3.030000e+01,3.030000e+01,3.030000e+01,3.030000e+01,3.030000e+01,3.030000e+01,3.030000e+01,NaN,NaN,NaN
1289,Ghana,GHA,SF6 gas emissions (thousand metric tons of CO2...,EN.ATM.SF6G.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1390,Ghana,GHA,Total greenhouse gas emissions (kt of CO2 equi...,EN.ATM.GHGT.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,2.854704e+04,3.025144e+04,3.066509e+04,3.249261e+04,3.413081e+04,3.607041e+04,3.907029e+04,NaN,NaN,NaN
1473,Ghana,GHA,"Water productivity, total (constant 2015 US$ G...",ER.GDP.FWTL.M3.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.554869e+01,3.434610e+01,3.525660e+01,3.812257e+01,4.048620e+01,4.312095e+01,4.334256e+01,NaN,NaN,NaN
1480,Ghana,GHA,Women who believe a husband is justified in be...,SG.VAW.BURN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.400000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7,NaN